<script>
 Ext.onReady(function () {
      new Ext.Toolbar({
        renderTo: Ext.getBody(),
        items: [{
            xtype: 'tbbutton',
            text: 'Xem dữ liệu',
        }]
      });

        // create the data store
        store = new Ext.data.JsonStore({
            autoDestroy: true,
            url: "<%= khaches_path(:format => :json) %>",
            // reader configs
            
            fields: [
            { name: 'id', mapping: 'id'},
            { name: 'ten', mapping: 'ten' },
            { name: 'tuoi', mapping: 'tuoi' },
            { name: 'diachi', mapping: 'diachi' }]
        });

        store.load();
        //click 'Sửa' button we will set id for edit_id and update new information for this id when u click 'Cập nhật'
        let edit_id;
         //debugger;
      var sm = new Ext.grid.CheckboxSelectionModel()
        var grid = new Ext.grid.GridPanel({
          id: 'dulieua',
          layout: 'fit',
            store: store,
            columns: [
                sm,
                {
                    id: 'id',
                    lockable: true,
                    header: 'ID',
                    sortable: true,
                    dataIndex: 'id'
                },
                 {
                    header: 'Tên',
                    width: 160,
                    sortable: true,
                    dataIndex: 'ten'
                 },
                 {
                    header: 'Tuổi',
                    width: 160,
                    sortable: true,
                    dataIndex: 'tuoi'
                },
                {
                    header: 'Địa chỉ',
                    width: 160,
                    sortable: true,
                    dataIndex: 'diachi'
                }
            ],
            sm: sm,
            stripeRows: true,
            height: 210,
            title: 'JsonGrid',
            collapsible: false,
            // config options for stateful behavior
            stateful: true,
            stateId: 'grid',
            // Paging. but not working now
              bbar: new Ext.PagingToolbar({
            pageSize: 5,
            store: store,
            displayInfo: true,
            displayMsg: 'Trang {0}',
            emptyMsg: "Không có hàng nào",
            items:[
                '-', {
                enableToggle:true,
                cls: 'x-btn-text-icon details',
                toggleHandler: function(btn, pressed){
                        store.load({params:{start:0, limit:25}});
                }
            }]
        }),
        // inline toolbars
        tbar:[
          {
          text:'Làm mới',
            tooltip:'Làm mới', 
            handler: function(){
                store.load();
                //store.load({params:{start:0, limit:25}});
            }
        },{
          text:'Sửa',
            tooltip:'Sửa', 
             handler: function () { 
              // get id in current line. 
              var s = grid.getSelectionModel().getSelected();
              edit_id = s.get('id');
              edit_ten = s.get('ten');
              edit_tuoi = s.get('tuoi');
              edit_diachi = s.get('diachi');
              
              var name = Ext.getCmp('ten').setValue(edit_ten);
              var age = Ext.getCmp('tuoi').setValue(edit_tuoi);
              var add = Ext.getCmp('diachi').setValue(edit_diachi);

              

            }
        },{
          text:'Xóa',
            tooltip:'Xóa', 
            handler: function(){
              // get all id of checked item in grid panel. and push all into selected array
             var s = grid.getSelectionModel().getSelections();
            selected = [];
            Ext.each(s, function (item) {
              selected.push(item.get('id'));
            });
          Ext.Msg.show({
            title: 'Thông báo',
            msg:"Danh sách id cần xóa: "+selected,
            height:40,
            buttons:{
              yes: true,
              no: true
            },
          fn: function(bt){
            if(bt == 'yes') {
              //if u click yes button. loop to delete all item in selected array
              for (let i=0; i<selected.length; i++){
              Ext.Ajax.request({
                url: '<%=khaches_delete_khach_path%>',
                method: 'DELETE',
                params: {
                  khach_id: selected[i],
                },
                 success: function(response) {
                    console.log("The request was successfull");
                    store.load();
                  }, 
                 failure: function(response) {
                      console.log("Request is failed");
                  }
              });
              }
            }
            else
              return;
           }
          });

            }
        },'->',{text:'Tìm kiếm:'},
        {
          id: 'tukhoa',
          xtype: 'textfield',
          emptyText : 'Từ khoá',
          listeners: {
          specialkey: function(field, e){
            if (e.getKey() == e.ENTER) {
                store.filter([
                {
                  property: 'name',
                  value: Ext.getCmp('tukhoa').getValue(),
                  // exactMatch: true,
                  // caseSensitive: true
                }
              ]).load(); 
              
            }
          }
        }
        },{
            xtype: 'combo',
            width: 80,
            valueField: 'ten',
            autoSelect:true,
            forceSelection:true,
            store: ['Tên','Tuổi','Địa chỉ'],
            disabled:true
          },{
          xtype: 'button',
          text: 'Tìm',
          handler: function(){
              store.filter([
                {
                  property: 'ten',
                  value: Ext.getCmp('tukhoa').getValue(),
                  // exactMatch: true,
                  // caseSensitive: true
                }
              ]).load(); 
              //store.load();
          }
        }]
        });
    grid.on('cellclick', function (grid, rowIndex, columnIndex, e) {
        var record = grid.getStore().getAt(rowIndex);  // Get the Record
        var fieldName = grid.getColumnModel().getDataIndex(columnIndex); // Get field name
        var data = record.get(fieldName);
        //Ext.Msg.alert('Di ', data);
      })
        // render the grid to the specified div in the page
        //grid.render('grid-example');
        grid.render('dulieutab1');
    
      var win;
      var button = Ext.get('ext-gen6');

      button.on('click', function () {
        // create the window on the first click and reuse on subsequent clicks
        if (!win) {
          win = new Ext.Window({
            applyTo: 'hello-win',
            layout: 'fit',
            width: 562,
            height: 300,
            closeAction: 'hide',
            plain: true,

            items: new Ext.TabPanel({
              applyTo: 'hello-tabs',
              autoTabs: true,
              activeTab: 0,
              deferredRender: false,
              border: false
            }),

            buttons: [{
              text: 'Submit',
              disabled: true
            }, {
              text: 'Close',
              handler: function () {
                win.hide();
              }
            }]
          });
        }
        win.show(this);
      });


    // turn on validation errors beside the field globally
    Ext.form.Field.prototype.msgTarget = 'side';

    var aaaaa = new Ext.form.FormPanel({
        monitorValid: true,
        labelWidth: 75,
        frame: true,
        title: 'Tạo',
        width: 250,
        defaultType: 'textfield',

        items: [
          { id: 'ten', fieldLabel: 'Tên'},
          { id: 'tuoi', xtype: 'numberfield', fieldLabel: 'Tuổi'},
          { id: 'diachi', fieldLabel: 'Địa chỉ'},
        ],

        buttons: [
            {
              id: 'capnhat',
              
                text: 'Cập nhật',
                handler: function () { 
                  if (edit_id==null){
                   Ext.Msg.alert('Thông báo','Chưa chọn khách cần sửa');
                  }
                  Ext.Ajax.request({
                url: '<%= khaches_cap_nhat_path %>',
                method: 'PATCH',
                jsonData: {
                  khach_id: edit_id,
                  ten: Ext.getCmp('ten').getValue(),
                  tuoi: Ext.getCmp('tuoi').getValue(),
                  diachi: Ext.getCmp('diachi').getValue(),
                },
                 success: function(response) {
                    console.log("The request was successfull");
                    store.load();
                  }, 
                 failure: function(response) {
                      console.log("Request is failed");
                  }
              });
                 }
            },
            {
                text: 'Tạo mới',
                handler: function () { 
                  Ext.Ajax.request({
                url: '<%= khaches_path %>',
                method: 'POST',
                jsonData: {
                  ten: Ext.getCmp('ten').getValue(),
                  tuoi: Ext.getCmp('tuoi').getValue(),
                  diachi: Ext.getCmp('diachi').getValue(),
                },
                 success: function(response) {
                    console.log("The request was successfull");
                    store.load();
                  }, 
                 failure: function(response) {
                      console.log("Request is failed");
                  }
              });
                 }
            }
        ]
    });
    aaaaa.render('taomoi');
});
  </script>

<p id="notice"><%= notice %></p>


<br>
<div id="hello-win" class="x-hidden">
    <div class="x-window-header">Dữ liệu đã thêm</div>
    <div id="hello-tabs">
      <!-- tab 1 -->
      <div id="dulieutab1" class="x-tab" title="Tab1">
      </div>
      </div>
    </div>
  </div>
  <div id="grid-example"></div>
  <div id="taomoi"></div>
